[2016-10-12 08:34] cxnam opened #4 "How to add notification via email?"
Hi,
I want notificaiton to email. How it work via email?

Thanks.

[2016-10-13 00:07] radovskyb commented on #4
Hey @cxnam, are you referring to sending an email when an event is received?

If so, are you using the watcher cmd or the watcher package with your Go code?

[2016-10-13 03:59] cxnam commented on #4
Hi @radovskyb,

Yes, i want sending a email when an event received, and email when sending include lastest event + time event.

I using watcher cmd with python script send mail but not include "lastest event + time event."

sorry my bad english. tks

[2016-10-13 09:08] radovskyb commented on #4
Hey again @cxnam,

I have not yet added functionality to `watcher` to allow piping stdout to the command's stdout, however I am more than happy to add this as a feature.

However, in the meantime you can achieve what you would like, by simply starting your python script with something like the following and running `watcher` without the `cmd` flag:

[code]

This will print the event any time one i

[2016-10-13 09:24] cxnam commented on #4
Thanks @radovskyb

[2016-10-13 09:24] #4 closed

[2016-10-14 16:56] radovskyb commented on #4
@cxnam, I have added a simple `pipe` flag to the `watcher` cmd that sends event info to the command's stdin when changes are detected.

If you check out the new README you can see an example how to use it with a simple `python` script :)

[2016-10-17 23:58] cocodrino opened #5 "show full path file changed and fix error python code readme"
Hi..I'm curious: It's possible show the full path for the file change, right now with the samples I only get the file name

2) seems than there is a small error in the python code, must be

[code]

3) How would be the performance in a very deep folder structure?...can I watch for my whole filesystem?

thanks!!

[2016-10-18 00:29] radovskyb commented on #5
Hey @cocodrino,

As of right now, you can retrieve only the `os.FileInfo` from the file that the event is based on. However, if you think it's a good idea, I'm more than happy to add retrieving the full path as a new feature.

With the python code from the `watcher` cmd example, when I wrote it I only tested it with python 2.7 and it worked fine, but after your comment I see that it isn't compatib

[2016-10-18 01:39] cocodrino commented on #5
thanks @radovskyb, yes, for me check the changes every 20 minutes would be fine, I'll be alert about your project and improvements, so far works really great for my requeriments..

[2016-10-18 01:39] #5 closed

[2016-10-20 08:12] radovskyb commented on #5
@cocodrino, I actually just realized that on my computer, I can personally watch just over 100k files with only about a 1s delay before I see an event, although at about 250k files, the delay is closer to about 5-10s, so I guess if your filesystem isn't super large, you might not have too much of an issue if you don't need to poll so often :)

[2016-10-27 13:11] ericmdantas opened #6 "Close watcher"
Is there any way we can close the watcher? I was thinking that since we have `Start`, we could also have a `Close` method.

There's a module for Node.js called `chokidar` (https://github.com/paulmillr/chokidar) who does the following:

[code]

In my opinion, it'd make sense to have this in `watcher` too.

[2016-10-27 13:15] radovskyb commented on #6
Hey @ericmdantas, I was actually thinking about this just the other day when I noticed that fsnotify also closes their watchers and thought it makes sense to add it.

I will hopefully get around to adding it when I have a bit of spare time over the next couple of days. I am glad you opened up an issue here though, so I will be reminded about it any time I see that there's an open issue!

[2016-10-30 07:45] radovskyb commented on #6
Hey @ericmdantas, I've actually been planning on rewriting most of the `Start` method when I get some spare time, so I think I might just wait until I do that before I add a `Close` method, since the `Close` method will fit in better with the way that it's going to be rewritten anyway.

If for some reason you actually needed `Close` functionality for your project before I get around to it, either

[2016-10-30 12:02] ericmdantas commented on #6
Hey, don't worry. I still have a couple things to figure out before releasing v1, so I can wait.

Let me know if I can help with anything.

[2016-10-31 11:02] ericmdantas opened #7 "Watch all files"
Is there any way to watch all files in given folder? Say I'm in the root of my app and I want to watch everything, is there such thing as passing a single dot (`.`)? Some libs in node-land do that, not sure what's the convention for go?

[2016-10-31 11:24] radovskyb commented on #7
Hey @ericmdantas,

I'm not totally sure what you mean since currently by default `watcher` is already recursive.
For example if the root folder for your project is called `myproject`, by simply adding that folder with `w.Add("myproject")`, all of the files and folders will be watched recursively from that directory inwards.

Do you mean something else?

[2016-10-31 11:42] ericmdantas commented on #7
Sorry for not being clear.

I mean a way to do it explicitly, because when you're using a 3rd party lib that uses `watcher`, for example, it'll not know what's the name of the current/root folder right away, so I just think it'd make sense to provide a way to make that explicit.

Something like: did the user provide a folder to be watched? No? Then `.` it is. If he did, then `name_provided` it is.

[2016-10-31 11:44] ericmdantas commented on #7
Here's an example with node's `chokidar`:

[code]

[2016-10-31 12:12] radovskyb commented on #7
I think I get what you mean..

Are you saying that instead of how currently when calling `Start` without having added any files or folders, instead of how it currently returns an error letting you know that no files have been added, it should just watch whatever directory the code is being called from?

If so, I could probably add that in pretty easily by using `os.Getwd()` if nothing was added to

[2016-10-31 12:41] ericmdantas commented on #7
This one :smile:

Do you think it makes sense for your project? I'd understand if it's not the case.

[2016-10-31 14:25] ericmdantas opened #8 "Ignore paths"
When watching folders recursively, there might be some folders where I don't want the watcher to touch.

These folders can be `dependencies` (which were downloaded by some package manager), folders meant to be used as `example`, folders that keep the `app tests` (not the case in Go happens in mostly of other languages).

So, I think that we could have some way to ignore those paths, so we don't in

[2016-11-01 03:26] radovskyb commented on #7
Hey @ericmdantas, had to head out yesterday so sorry for late reply.

Anyway I get what you're saying, but do you think it's really needed to use something like `.` when in Go we can simply use `os.Getwd()`?

[2016-11-01 03:37] radovskyb commented on #8
Hey @ericmdantas :)

I definitely want to add the ability to ignore specific paths and also possibly specific extensions, so I am going to add this to `watcher`.

I did actually want to rewrite the way options were handled with `watcher` anyway so using a struct might be a good idea regardless of the main reason for this proposal.

Having said that, just like with adding adding a `Close` method, w

[2016-11-01 08:32] radovskyb commented on #8
I've added a simple `Ignore` method for now so hopefully I didn't rush it and it works the way it's meant to :P Either way though, it will still need to be rewritten once I rewrite the other things anyway.

For now I don't think it makes sense to change the way how the options work since with the suggested way, race conditions could occur if the options are modified after they've been set and the

[2016-11-01 08:55] ericmdantas commented on #7
I mean, it'd be easier to a newcomer in go, but I know what you mean. Let's keep it simple, then :smile:

[2016-11-01 08:55] ericmdantas commented on #7
Closing.

[2016-11-01 08:55] #7 closed

[2016-11-01 09:00] ericmdantas commented on #8
Thanks, @radovskyb. I'll give it a try.

PS: About the racing conditions, instead of passing a pointer, what if we pass a value?

[2016-11-01 09:55] ericmdantas commented on #8
As the the new method, it seems to be working as expected, thanks once again :+1:

Feel free to close the issue, if you feel like it.

[2016-11-01 21:47] radovskyb commented on #8
Hey @ericmdantas, I was thinking about passing by value but things like maps and slices are still references anyway so that could cause the same issue possibly..

I'm not even sure if I've over thought it or not :P Either way, I'll refactor it eventually.

[2016-11-01 21:47] #8 closed

[2016-11-03 12:15] Ch00k opened #9 "watcher misses events for the same file if they were generated within one pollInterval"
This code will reproduce the problem:
[code]
Run it, then in another terminal `cd` to the watched directory (`/Users/ay/tmp/watch` in this case) and execute `touch 1; rm 1`, which will miss both events, or `touch 1; echo "test" > 1`, which will miss the CREATE event.

[2016-11-04 01:20] radovskyb commented on #9
Hey @Ch00k,

Currently being a polling watcher, the way that `watcher` is written, noticing a create and remove for the same file inside of a single cycle is hard to detect.

I am however currently working on rewriting parts of `watcher`, but it will a fair while before the code is ready, yet technically when it's ready, multiple events per file in between cycles should be noticed, at least with t

[2016-11-04 02:15] radovskyb commented on #7
Hey @ericmdantas,

I decided just to add this feature since it I knew it would just take a minute to implement anyway, so you can now use `w.Add(".")` and `w.Add("..")` :)

[2016-11-04 08:57] ericmdantas commented on #7
Awesome, thanks!

[2016-11-04 09:14] Ch00k commented on #9
@radovskyb I kinda expected that this would be very hard to impossible to fix/implement because of the nature of polling approach.

[2016-11-06 16:40] radovskyb commented on #9
@Ch00k, yeah, pretty much.

Since polling consists of checking for a change every specified duration, if for example a file is added and deleted during a cycle, only what is there when the cycle is over can really be checked, so I doubt it's an easy thing to find a solution for.

[2016-11-07 05:55] Ch00k commented on #9
@radovskyb I think this one can be closed, unless you want it open to track the work you've mentioned earlier.

[2016-11-07 07:02] #9 closed

[2016-11-30 14:37] radovskyb commented on #6
Hey @ericmdantas,

I still haven't rewritten the `Start` method or any of the other code that I wanted to rewrite before adding in `Close`, but just had a bit of spare time so decided to just write a simple `Close` method in for now anyway.

There's a simple example for usage in the examples folder. Let me know how it goes if ya like!

[2016-12-01 14:06] ericmdantas commented on #6
Will do, @radovskyb.

I'm on vacation now, but I'll be back next week. I'll let you know then.

Thanks for the heads up!

[2017-01-02 22:52] matiux opened #10 "Renamed files"
Hi, how can I know the renamed file name?
Where I rename a file, the event "created" is thrown but I get only the old name of the file. This is the code:

[code]

I need to know the name of the file after it was renamed. I tried to comment out the line `w.SetMaxEvents(1)` so I thought that All event would be sent but doesn't work

Thanks

[2017-01-03 00:49] radovskyb commented on #10
Hey @matiux,

What operating system are you using? The problem could be because of how `watcher` catches rename events, which I haven't fully tested for cross operating system compatibility yet, so I'm thinking maybe your OS is one I haven't yet tested for.

Either way, I do still need to rewrite a fair bit of the code, so if there's anything else, feel free to let me know.

[2017-01-03 04:20] radovskyb commented on #10
By the way, when you wrote this:

Did you mean that the event "renamed" is thrown, but you just want to know what the filename was renamed to, or were you actually saying that you are only receiving a `create` event and not a `rename` event.

If you are actually receiving the `rename` event and just want the feature to be able to see what a `rename` event is now renamed to, then that's a much easi

[2017-01-03 07:35] matiux commented on #10
Hi @radovskyb thank for you reply.
I'm using Debian GNU Linux 64 bit. It's one of those operating systems that have not been tested yet?

I'll try to explain better

When I rename a file named `test.txt` in `mod-test.txt` I get this log:
[code]

As you can see, I obtain only the old name of the file but I need to get Also the new name. Something like `" test.txt -> mod-test.txt "`

[2017-01-03 10:21] matiux commented on #10
Update:
I would like to have the full path of the renamed file:

[code]

or if the file was moved in other folder:

[code]

[2017-01-03 11:17] radovskyb commented on #10
Ah ok I see. It's not an issue of the testing then since the renaming is working. Originally I thought the renaming process wasn't working when you said you only received a `create` event.

I'll be happy add the feature of displaying what the file was renamed to when I get some spare time, but as for checking where a file was moved to, it would probably be pretty easy to work that out when you are

[2017-01-03 13:25] matiux commented on #10
Thanks @radovskyb .

Is there some workaround for now? I would like to write a program That sync Everything That Happens in a folder, in a mysql database. So I need to watch also changing to the file or directory

[2017-01-04 04:43] radovskyb commented on #10
Hmm, I'm not too sure at the moment what would be the best way to go about it at this stage from the user side of things but here is one suggestion you can try out until I get around to looking into it eventually.

Basically, I'm not sure how many files you are watching or how large they are, however if you are watching a huge amount of large sized files and you are checking for changes say for ex

[2017-01-04 09:14] matiux commented on #10
Thanks @radovskyb.
The directory that I need to watch contains approximately 500 file. Some of these also weigh 15Gb. But the changes in this folder (add, delete, rename, moving ecc) are done by me manually occasionally, and especially one file at time. So I would not worry of the time to process file checksum.

later I will try to to modify watcher.go as you suggested :)

Thanks!

[2017-01-06 00:46] matiux commented on #10
Hi @radovskyb

for now I have edit watcher.go:

[code]
so I get old and new file. Then I have created a regexp to obtain the two single values (old and new filename):

[code]

and works.

But I have another problem. When I move a file into a directory, for example `/directory/file.txt -> /directory/subdirectory/file.txt` I get only this:

[code]

I'd like to have also some information about the ol

[2017-01-06 05:31] radovskyb commented on #10
Hey again @matiux,

Just for a quick suggestion, rather than using regex to retrieve the old and the new path from modifying the path, it's much simpler to use something like the following instead:

[code]

Anyway, when I suggested editing `watcher.go`, that was only to show rename's from within a folder, not from when moving from one folder to another folder.

The suggestion that I gave you in my

[2017-01-06 23:22] matiux commented on #10
Unfortunately I did not understand how to use the checksum to handle the rename but maybe for now I found a solution.

I have setted `w.SetMaxEvents(2)` so when the move event occurs, I get two events:

Moving `/directory/file.txt` in `/directory/subdirectory/file.txt`

[code]

For my purpose this is more than sufficient since that thanks to these two events, I can update the record in database

T

[2017-01-07 00:11] radovskyb commented on #10
Oh cool 😄 I didn't even think to ask you what exactly you needed to achieve so sorry I didn't realize this earlier. The set max events feature is there for when people want to receive only one event per watching cycle but I see that 2 at a time is perfect for you, so glad you found a solution :)

[2017-02-02 23:33] im7mortal opened #11 "Signal that a watching process was started"
# Problema

**How to figure out that a watching process started?**
I have such construction. It don't like it. But it's pretty fast for me.
1. I set up a watcher on a directory.
2. Then I call a _exe_ which write files inside the directory.
If some reason the _exe_ will write before the watcher start to watch I will lost data.
I am worry some people can do it without suspecting of problem.
I don't

[2017-02-03 00:08] im7mortal commented on #6
Hi! Thanks for your work!
<https://dave.cheney.net/2016/12/22/never-start-a-goroutine-without-knowing-how-it-will-stop>
I want to rephrase it like

_Close_ method doesn't work for me. I don't have something special. Just such construction

[code]

 I did a fast research. Looks like It can't pass lock <https://github.com/radovskyb/watcher/blob/master/watcher.go#L278>

# Fast solution for people who

[2017-02-04 20:33] im7mortal commented on #6
about <https://github.com/radovskyb/watcher#example> and my previous comment's last paragraph
[code]

[2017-02-04 23:38] radovskyb commented on #6
Hey @im7mortal, thanks for your comments.

I have actually realized both of the issues you have posted on here and have already written fixes for them in a different version of code that I have been writing in my spare time, however I've just been busy and there's still lots I have to do before I would push it to the main repo.

For example, there's a Close channel, so in the main select loop, you

[2017-02-04 23:46] im7mortal commented on #6
Hey @radovskyb
On this weekend I am concentrated on your library.
Maybe you can push your code in **dev** branch ?
I am trying apply go pipeline patterns for your start function.
It would be great to combine our ideas!

[2017-02-04 23:50] radovskyb commented on #6
Well currently it's very differently written and I haven't written the tests for it yet (the current tests need to be re-written for it), but also I have to benchmark it to see if some of it is worth keeping the way it will be.

I'll get around to posting it later if you would like to have a look.

P.S I already implemented piping the events in the new version I've been messing with, if that's wha

[2017-02-04 23:58] radovskyb commented on #6
@im7mortal, I just created a dev branch with how I have been exploring rewriting watcher, but for now all of the tests and examples will be broken, but have a look if you're interested anyway :)

[2017-02-05 00:07] im7mortal commented on #6
@radovskyb
I am going to create a new issue about future changes.
Where I will describe all my ideas after I will take a look on your changes.

[2017-02-05 07:36] im7mortal opened #13 "pipeline for events"
I little bit have mess in my head. I will modify it. Feel free ask questions before.
I will push code. It's not compilable and absolutely not workable:warning:. Just ideas.

**update** Sorry , there are a lot of mistypes.

# problem

Work flow got a awful monster.

Infinite loop is out of control.

Mutex hell.

# review of dev branch
I reviewed <https://github.com/radovskyb/watcher/commit/ec08eb03

[2017-02-06 07:10] radovskyb commented on #10
Hey @matiux,

Just thought I'd let you know that I'm currently working on implementing `move event` functionality in a new branch on my localhost, so when I get some proper time to work on it, I'll let you know one day hopefully soon when it's ready!

[2017-02-06 08:37] matiux commented on #10
Wow thanks @radovskyb
I look forward !

For now I'm using the "remove and create" sequence but is not fully safe

[2017-02-07 00:23] im7mortal commented on #13
I changed my mind. _os.Stat_ call _syscall_ inside.
All **syscals** should be in **gorutines** and execute **parallel**.
 But sending data to _gorutine_ should be even more deeper level for it. <https://github.com/radovskyb/watcher/blob/ec08eb0355c74bc90e2b87bac34b2660cc6a9bb8/watcher.go#L139>  It should be in _gorutine_.

[2017-02-07 11:34] radovskyb commented on #10
Hey @matiux, just merged the changes with the master branch so let me know what you think :)

I have also added event filtering (there's an example), so you can choose to only get notified for rename and move events if you like.

Just FYI, a move event only shows up if the file is moved from one watched folder to another watched folder, but won't show if you move the file into a folder that isn't

[2017-02-07 11:38] radovskyb commented on #6
Hey @ericmdantas and @im7mortal,

I've just updated the master branch with a lot of changes. One change fixes the Close method, so you can now check for `<-w.Closed` in the main function to avoid a goroutine leak.

P.S. There's also event filtering now if that's interesting to either of you (I added an example for it).

[2017-02-07 11:47] ericmdantas commented on #6
Thanks for the heads up!

[2017-02-07 11:50] #6 closed

[2017-02-08 09:50] radovskyb commented on #13
Hey @im7mortal, since I already merged master with a different dev branch that I was working on, I'll close this issue since I don't know if any of this is relevant to the new branch. If you feel that it is, feel free to create another issue for your ideas :)

[2017-02-08 09:50] #13 closed

[2017-02-08 23:53] im7mortal commented on #11
@radovskyb I sow your message from my pull request.
I am thinking.
Recently I worked with _os/exec_
I check it inside.
It use interesting patterns.
I liked how it's handled

[code]

**c.Wait()** here has absolutely different sense.
I like idea that _Run_ block gorutine but _Start_ no. And I like how it implemented.

Give me some time. I want to do the best.

[2017-02-09 07:55] matiux commented on #10
Thanks @radovskyb I will try asap!

[2017-02-09 08:14] radovskyb commented on #10
Just btw, the API is changed slightly, so for recursive watching, use AddRecursive.

[2017-02-09 08:36] matiux commented on #10
Uhm... have you a simple example to use new code?

[2017-02-09 09:04] radovskyb commented on #10
Sure! Check out the examples folder. I updated the examples to use the new functions (https://github.com/radovskyb/watcher/tree/master/example).

Here's an example for filtering events that returns at most 1 rename or move event per cycle: https://github.com/radovskyb/watcher/blob/master/example/filter_events/main.go.

[2017-02-12 09:11] radovskyb commented on #10
Hey @matiux,

Unless there's anything you're having trouble with, I'll close this issue :)

If there is anything else or you're having any problems, feel free to let me know!

[2017-02-12 11:08] matiux commented on #10
Thanks @radovskyb I'm trying the Move feature just now!
I will let you know!

[2017-02-13 19:49] im7mortal commented on #6
@radovskyb
Maybe Instead `<-w.Closed` better would be `w.Done()` which return `<-chan struct{}` I mean *receive only*. Std don't have any package which allow use channel. You can access to channel only via method and this method return *receive only* channel. For example  in _context_ package
<https://github.com/golang/go/blob/master/src/context/context.go#L324>
or _Ticker_ and _After_ from _time_

[2017-02-13 19:53] im7mortal commented on #13
I am doing pipeline pattern on my work. I see picture more clear now.
As I told before **syscals must be in gorutines**.
I am going to implement pipeline workflow.

[2017-02-13 20:52] matiux commented on #10
I tried the new features about "move" and "rename" events. They seem they work well! :)

I'd like to show you my project to have your opinion about it :)

[2017-02-13 22:41] radovskyb commented on #10
Awesome, good to hear! I'll close the issue now but let me know if there's anything else :D

[2017-02-13 22:41] #10 closed

[2017-02-18 23:08] im7mortal commented on #13
# Also
I already solved my hack because of I had to use a watcher. Now I don't use watcher.
I used it such way:
1. I created every time _/tmp/tempDir_
2. Create watcher
3. Populate the _tempDir_ via _exe_
4. Remove _tempDir_

It's sometimes was parallel but I always used a new watcher. I could just add dynamically new _tempDir_ but I didn't want to use a global watcher.

I am really interesting ho

[2017-02-26 13:21] #11 closed

[2017-03-05 21:23] Ewan-Walker opened #16 "Renaming on windows"
It would seem that on windows there is no rename event but rather the following:

- rename file/folder
- CREATE event (new name)
- REMOVE event (old name)

So there is never a RENAME event actually ever firing.

[2017-03-05 23:19] radovskyb commented on #16
Hey @Ewan-Walker,

It seems that this is only now a problem since I rewrote Watcher recently.
I am currently thinking it might be an issue with os.SameFile not working consistently on Windows but I will have to do some investigations.

Thanks for raising this issue. Will have a deeper look in my spare time!

[2017-03-06 00:53] radovskyb commented on #16
Hey again @Ewan-Walker,

I've implemented a small fix for now, so if you re run `go get -u github.com/radovskyb/watcher/...` it should be working for windows now.

Like I thought, the issue is that `os.SameFile` doesn't work consistently across cross platforms, so I'll have to look into that too.

Either way, this fix should work for now :)

I've also noticed my tests fail on windows for chmod eve

[2017-03-06 02:15] Ewan-Walker commented on #16
Seems to function correctly, thanks :)

[2017-03-06 02:15] #16 closed

[2017-03-24 01:30] 756445638 opened #17 "Is this library stable currently??"

[2017-03-24 01:42] radovskyb commented on #17
Hey @756445638,

At this stage, I would have to do more extensive testing across platforms to be sure.

I definitely know that it's possible that there could be some cross compatibility issues with move events on Windows since `os.SameFile` wasn't consistent across platforms and the `SameFile` function I wrote may need some improving for certain unlikely edge cases, however I would still personall

[2017-03-24 01:56] 756445638 commented on #17
I used you library in my program,when I write some file at watched directory but I have not receive a event,I don`t know what is wrong!!
I have used this package "https://github.com/fsnotify/fsnotify",but is does not support watch recursively.

[2017-03-24 02:12] radovskyb commented on #17
Can you share the code that you're using so I can have a look for you? :)

[2017-03-24 02:13] 756445638 commented on #17
func StartFsNotify() {
	f := func() error {

		watch := watcher.New()
		fmt.Println("###########", g.Conf.GcConfigConfig.StorageDir)
		defer watch.Close()
		err := watch.Add(g.Conf.GcConfigConfig.StorageDir)
		if err != nil {
			return err
		}
		err = watch.Start(time.Millisecond * 50)
		if err != nil {
			return err
		}
		for {
			select {
			case err = <-watch.Error:
				return err
			case e :=

[2017-03-24 02:14] 756445638 commented on #17
Dell@yuyang-computer MINGW32 /d/dev/gopath/src/hmi-server/opserver/static/ht-editor/instance-backendless/storage
$ go env
set GOARCH=amd64
set GOBIN=
set GOEXE=.exe
set GOHOSTARCH=amd64
set GOHOSTOS=windows
set GOOS=windows
set GOPATH=D:\dev\gopath
set GORACE=
set GOROOT=C:\Go
set GOTOOLDIR=C:\Go\pkg\tool\windows_amd64
set GCCGO=gccgo
set CC=gcc
set GOGCCFLAGS=-m64 -mthreads -fmessage-length=0 -fd

[2017-03-24 02:27] 756445638 commented on #17
I run example program directly,I change  directory to test_folder and execute "echo 11 >> 22",I have not see something came out of stdout!!

[2017-03-24 02:27] radovskyb commented on #17
Here is a minimalistic example:

[code]

[2017-03-24 02:29] radovskyb commented on #17
Just keep in mind that if you are trying to watch recursively you will need to use `AddRecursive("test_folder")` and not `Add("test_folder")`

[2017-03-29 02:09] radovskyb commented on #17
Hey @756445638,

I'm going to close this issue now, however if continue to have any issues with this, feel free to comment here and I will re-open the issue or if you have any new problems, feel free to create a new issue.

[2017-03-29 02:09] #17 closed

[2017-03-29 02:43] 756445638 commented on #17
ok,thanks!

[2017-05-15 02:56] cocodrino opened #18 "how ignore errors adding folder recursively"
Hello @radovskyb , hope you're fine, I'm having this error when I run a recursive watcher

[code]

that means error adding a directory, after that the file walker seems exit because it doesn't add any other file

[code]

Could I ignore those files which cause error and keep running the file walker?

thank you so much!!!

[2017-05-17 06:47] radovskyb commented on #18
Hey @cocodrino,

Sorry for the late reply!

Have you tried to ignore the folder or files that you want to ignore?

Here's an example for ignoring files or folders: https://github.com/radovskyb/watcher/blob/master/example/ignore_files/main.go

[2017-06-15 18:50] kbirk opened #19 "Support for globs"
Would it be possible for the watcher API to support Globs as arguments to the `Add` and `Ignore` methods? This would make watching specific directories for only certain file types much easier:

[code]

Or is there a way to achieve this with the current interface?

[2017-06-16 05:36] TheWinds commented on #19
Add a filter function may be a better way.
w.Add(path,filter)
[code]

[2017-06-16 14:21] skinnyjames commented on #19
Is there a good way to go about this with the CLI?

[2017-06-17 01:49] radovskyb commented on #19
Hey guys!

For now I would think, the easiest way to do this would be to use the filepath.Glob method that the standard library provides for adding and ignoring files... :)

(If it seems reasonable to shortcut this and allow globs directly in the add and ignore methods I can consider that too)

For example:

[code]

However, one thing to note is that it would decrease performance if the plan was t

[2017-07-16 06:13] jeevatkm opened #20 "Consider Versioning"
@radovskyb Let me introduce myself. My name is Jeeva, I'm the author of [aah framework](https://aahframework.org).

For upcoming release `v0.7` of my framework I'm working on Hot Reload functionality. I have been doing study and research around monitoring file and directory changes for a while. I know, there is a library `fsnotify`, it is good one. Then I come across your library, pretty interesti

[2017-07-17 23:16] jeevatkm commented on #20
@radovskyb any inputs?

[2017-07-18 08:04] radovskyb commented on #20
Hey @jeevatkm,

I've tagged and added a release to Watcher. Let me know if I've missed something.

Sorry for the late reply!

Anyway, if you come across any issues, feel free to let me know. I haven't been as active on Github lately, but I'm still around :) Pull requests are always also welcome!

[2017-07-18 08:07] radovskyb commented on #18
Hey @cocodrino,

I'm going to close this issue now but if you still have an issue or any other issues, feel free to let me know!

[2017-07-18 08:07] #18 closed

[2017-07-18 08:11] radovskyb commented on #19
Did using filepath.Glob work out for you @kbirk? :)

@skinnyjames Was the CLI question something that you might find useful? Feel free to submit any pull requests if you want by the way, but otherwise I might be able to chuck it in the CLI sometime soonish.

[2017-07-18 17:49] jeevatkm commented on #20
@radovskyb Thanks for your response.

It is perfect, now `watcher` library is available `gopkg.in/radovskyb/watcher.v1` pointing to tag `v1.0.0`.

[2017-07-18 17:49] #20 closed

[2017-07-20 19:07] tj commented on #19
noticed it picks up changes to .git as well by default

[2017-07-20 19:14] tj opened #21 "Option for ignoring exit > 0"
First thanks this is sweet! but for running tests I noticed if a test fails it'll exit entirely, an option to remain active would be handy

[2017-07-20 19:43] kbirk commented on #19
Yes it did work, thank you :). Eventually I needed the globs to be run between polling to check for file additions so I ended up writing my own solution down the line. You can close this issue if you like.

[2017-07-21 09:19] radovskyb commented on #21
Hey @tj,

I never thought about a flag for ignoring errors, but I really like that idea :)

Will look into it when I get some time!

[2017-07-21 19:42] jeevatkm opened #22 "Watcher stops working when you delete watched files"
@radovskyb Currently watcher stops working when you delete the watched file/directory. It's a bumper for my upcoming release.

It gives an error.
[code]

Doesn't return any events there after. And If you call `w.Close()` at this moment, program gets stuck.

Please let me know if you need further info.

_PS: wether you call `Close` or not, watcher stops working_

[2017-07-21 19:58] jeevatkm commented on #22
You can have a look watcher implementation for aah framework.

https://github.com/go-aah/tools/blob/v0-unstable/aah/run.go#L135-L217

Please let me know, if I'm doing something wrong or way to handle or fix.

[2017-07-21 23:30] radovskyb commented on #22
Hey @jeevatkm,

I was going to suggest for you to ignore when that type of error occurs like so:

[code]

However, I believe there is a deadlock that occurs now when that happens (must have missed it when I rewrote watcher last time), but I will fix it when I get a chance soon!

[2017-07-21 23:37] radovskyb commented on #22
Hey @jeevatkm,

I removed the deadlock issue, so you can try again and let me know how it goes :)

[2017-07-21 23:40] jeevatkm commented on #22
@radovskyb  Thank you, this is very helpful.

I will very using against master branch and let you know soon. Then you can make a release (tag) for this fix.

[2017-07-21 23:47] jeevatkm commented on #22
Working perfectly :) thanks, Can you please make a release?

[2017-07-22 00:01] radovskyb commented on #21
Hey @tj,

I've added a `keepalive` flag to allow watching to continue when a command exits with a non 0 status.

Let me know how it goes or if you have any other suggestions!

[2017-07-22 00:09] radovskyb commented on #22
Released as v1.0.1 :)

[2017-07-22 00:14] #22 closed

[2017-07-24 06:42] #21 closed

[2017-07-24 07:20] harshavardhana opened #24 "Observing high CPU Usage when watching on large directories. Expected?"
I have a few questions regarding the library itself

- Since there is a constant file walking don't you think crawling in this manner
  would spin the disks up all the time?
- There are no asynchronous awake events, is there a possibility events might get lost?
- Some small tests seem to work fine, but i am worried about large directories and deep d
  directory structures?

[2017-07-25 06:44] radovskyb commented on #24
Hey @harshavardhana,

High CPU would be expected when polling large directories (with a short polling duration at least). Unfortunately with filesystem polling and small poll durations, this is a side effect for trying to achieve real time events notifications.

There are alternatives such as fsnotify that may be better for this type of issue since it actually uses filesystem event notifications a

[2017-07-26 04:00] tj opened #25 "Option to clear screen"
It would be sweet to have an option to clear the screen so it doesn't create a busy looking list for while you're re-running tests. Via https://github.com/tj/go/blob/master/ansi/ansi.go#L6-L10

Currently shorter output of course just continues to push the text lower and lower, just takes a bit more time to figure out what is the relevant output.

[2017-07-30 00:36] radovskyb commented on #25
Hey @tj,

Sorry for the late reply!

Are you referring to clearing the screen in between individual events when running the watcher command?

Or if you mean clearing after poll cycles, currently there is only notifications for events and errors, but not when cycles begin and finish, so this could be slightly more difficult to implement.

Let me know your thoughts :)

[2017-08-02 20:58] julienkosinski opened #26 "Use watcher on virtualbox synced folders"
Hello,

@radovskyb Thank you very much for the great software!

I use Vagrant over Virtualbox with synced folder of type Virtualbox.
My host system is Windows 10 Creator's Update, my guest system is Ubuntu 16.04 with Go 1.8.3.
As described, watcher does not work with synced folders on Virtualbox if I trigger an event from the host OS in the synchronized folder while running watcher in the guest OS

[2017-08-03 12:29] ShevaXu opened #27 "Need a FINISH event"
I find it useful to have a FINISH event which fires when a newly created file finish being written. The use cases include automatically trigger processing when a file finishes downloading or being fully generated (e.g, some media file cannot be processed on the fly).

The filesystem event notifications cannot solve this and polling is somehow required, which matches this watcher's polling nature.

[2017-08-07 08:10] gelidus opened #28 "Automatically execute cmd at start"
Is there a possibility to automatically execute cmd at the start of watcher? I am trying to use watcher with multiple microservices and it's painful to change every service for the first time just to get everything up.

[2017-08-07 08:39] #24 closed

[2017-08-07 08:47] radovskyb commented on #26
Hey @julienkosinski, sorry for the late reply!

I'm not too sure I can help with this one as I'm unfamiliar with using Vagrant and don't really use Virtualbox much either so not sure how they are meant to interact with each other etc.

I'll leave this issue opened if you like and maybe someone with experience can help you.

[2017-08-07 08:57] radovskyb commented on #27
Hey @ShevaXu,

Even though I can see the use cases, I'm not too sure that I would currently include this in watcher's core codebase as I'm trying to keep it quite minimal at the moment.

For example, using what watcher already includes you could probably achieve the finish event by actually using the library and checking for the constraints separately after each poll cycle.

Thanks for the suggest

[2017-08-07 08:57] #27 closed

[2017-08-07 08:59] radovskyb commented on #28
Hey @gelidus,

It is currently not an option to execute the command automatically, however I like this suggestion and see it being very useful, so I will probably implement this within the next few days when I get some spare time!

[2017-08-07 09:08] ShevaXu commented on #27
Ok, I can understand your intent to keep it minimal. Also want to point it out that there's no way to note each poll cycle finishing so far. Anyway I will try to implement it myself, thanks.

[2017-08-07 12:01] julienkosinski commented on #26
Thank you very much for your reply. :) I hope I'll find the solution of this but I don't know where to search...

[2017-08-10 06:36] radovskyb commented on #28
Hey @gelidus,

I've added a really simple flag that allows you to run the command specified right before the watching process starts if you'd like to give it a go.

[2017-08-12 03:10] jeevatkm commented on #26
@radovskyb @julienkosinski I have verified this scenario.

My host machine Mac OS and vagrant VM of ubuntu. Watcher is able to detect the changes within VM and also host machine changes.

I don't have Windows OS host machine, so I'm unable to verify that. I have only Windows OS guest VM for aah framework testing purpose.

[2017-08-12 06:02] julienkosinski commented on #26
Thank you very much for your help!

I'm running with the latest virtual box guest addition 5.1.26. Files and folder are synced correctly but no events are triggered, I can reproduce this on another computer with the same configuration as host, Windows Creator's Update.
I suppose this could be a bug in Virtualbox but I'll investigate a bit later on this :).

[2017-08-12 17:36] julienkosinski commented on #26
@radovskyb @jeevatkm Thank you very much for you help!
Unfortunatly I did some research and it seems that this problem is related to virtualbox and filesystem. There's a known bug avoiding such events to work accross different filesystem.
https://www.virtualbox.org/ticket/10660

@jeevatkm What is strange though is that it is working on your side on MACOS. Do you have native driver for EXT filesyst

[2017-08-12 18:36] jeevatkm commented on #26
@julienkosinski I don't have any specific drivers. All I did was configuring `config.vm.synced_folder` in `Vagrantfile` and fired `aah run`. It's working at my end.

_Please Note: `watcher` library doesn't use native filesystem events._

[2017-08-12 19:04] julienkosinski commented on #26
@jeevatkm Thank you for your response, as you said, I remembered now that watcher isn't relying on filesystem events, I think. So could be other thing.

[2017-08-13 01:59] radovskyb commented on #26
Hey @jeevatkm, @julienkosinski,

Sorry a little late to the convo here. @jeevatkm, thanks for helping out with this issue.

@julienkosinski, it might be worth trying out fsnotify and seeing how you go with it if you haven't already given it a try, since that does use filesystem events.

[2017-08-30 11:55] julienkosinski commented on #26
Hi @radovskyb, @jeevatkm!

Sorry for the delay...

I have news! :D
All event from synced folder are seen as WRITE events. The reason why I did not see this sooner is that I used the basic test in the exemple which by default limits to MOVE and RENAME events.

[2017-09-03 11:27] radovskyb commented on #26
Hey @julienkosinski,

Glad to hear that you worked it out!

I probably should have asked to see the code from the beginning, but at least I'll remember if someone else comes along with the same question :P

I'll close this issue then since it sounds to me like it's been resolved :)

[2017-09-03 11:27] #26 closed

[2017-09-04 06:31] #28 closed

[2017-09-04 07:09] gelidus commented on #28
Hi @radovskyb , thanks for the update! We'll try that and report back if we have any issues 👍

[2017-09-07 23:41] Ewan-GrandSlam opened #29 "Renaming / Moving should return both files"
As per issue title, I believe it would be good to modify the events to return both the current file as well as the new one.

[2017-09-15 18:14] julienkosinski commented on #26
@radovskyb Sorry, I forgot to response. Yeah, that's just some events which are not available in this configuration but I suppose that's normal. Thanks for your help! :D

[2017-09-21 22:47] tmaiaroto commented on #19
Please do add this to the CLI. I'd love to not use fswatch.

[2017-10-09 14:15] tklew opened #30 "To list all new files since last watcher run"
Hi,

Is watcher able to list all new files created since last watcher run ? We have a situation we are continuously watching a directory and if the watcher was stopped interrupted and resume again, are anyway to to list all new files creation in between or any alternatives ?

Thank you !

[2017-10-22 19:42] felixbuenemann commented on #29
If you split the path in the `MOVE` event on ` -> ` you get the old and new path.

[2017-10-22 19:47] felixbuenemann opened #31 "Run watcher script only once per interval in pipe mode"
Currently the`-cmd` script is run once for each event, even when `-pipe=true` is specified.

It would be great if there were an option to send all events from a single interval to the cmds stdin in one call, so that the cmd can do batch processing.

[2017-10-22 19:49] felixbuenemann commented on #31
Another option would be to start the command only once and contiously feed new events to it's stdin and only restart it if it exits.

[2018-02-04 21:21] adragoset opened #32 "Support regular expressions as filters"
Would be handy to be able to filter recursivley watching newly created files based on regular expressions. When watching a folder recursively it would be nice to be able to not set watches on subfolders or files that  get created but match a regular expression added to the filters list.

[2018-02-17 20:11] im7mortal commented on #30
@tklew Your request is definitely out of scope. You should create this logic yourself.
There is no way to do it without external resources as a local file or a database.

There is a simple example which use a local file. It's not optimized and it don't cover events which can occur during an initialization. But it can be a good start for you :smiley:.

[code]

@radovskyb I think you can close the i

[2018-03-11 12:10] sprt opened #33 "Allow CLI users to ignore files"
Hey, would you accept a PR to add support for an `--ignore` flag? It would take a comma-separated list of paths which would *not* trigger the command specified by the user.

[2018-03-15 11:33] linux-support opened #34 "Issue with links to directories"
When there is link to a directory, containing a numer of files, watch does not recognice changes in that directory. Utilizing the same application to watch a dirctory without a link alle changed files will be recognized.

Is this a bug, or are filesystem links not supported?

[2018-04-03 10:20] radovskyb commented on #33
I'm more than happy to look at any PR's! That sounds quite useful :)

[2018-04-03 10:22] #19 closed

[2018-04-03 10:25] radovskyb commented on #29
@Ewan-GrandSlam, sorry for the late reply!

@felixbuenemann is correct as both paths are returned :)

[2018-04-03 10:25] #29 closed

[2018-04-03 10:26] #30 closed

[2018-04-03 10:29] radovskyb commented on #31
@felixbuenemann, sorry for the late response!

One solution to this and some other issues/requests that have come up which I've thought about introducing sometime is pre/post function hooks in the watching cycle. Will keep you updated if I add them in!

Feel free to submit any pull requests in the meantime as well if you'd like :)

[2018-04-03 10:33] radovskyb commented on #32
Hey @adragoset, sorry for the late response!

It is possible that I may add support for a filter function during the watching cycle as well as pre/post function hooks. I'm unsure how I want to currently implement these, but it may solve this issue for you if I do end up introducing it.

Feel free to submit any pull requests in the meantime if you like!

[2018-04-03 10:43] radovskyb commented on #34
Hey @linux-support, this is currently not supported.

Right now for example, the `listRecursive` function uses the std lib's `filepath.Walk` function which does not follow sym links.

[2018-04-30 21:20] cocodrino opened #36 "support parameter deep"
Hi...would be great if you could support a deep parameter, what do you think???

thank you...

[2018-05-02 10:34] radovskyb commented on #36
Hey @cocodrino,

I'm not sure I understand what you mean by a deep parameter. Can you please give me an example of what you're referring to? :)

[2018-05-14 19:59] evan-wheeler opened #38 "WatchedFiles thread safety"
WatchedFiles() creates a possible race condition.  Reading the returned map while simultaneously calling any functions that mutate files (Add/AddRecursive/Remove/RemoveRecursive) is not thread safe.  Locking the mutex in WatchedFiles does not help.

[2018-05-25 18:08] gmccue opened #40 "Watching directories by design?"
I noticed that by default, calling `Add()` on a directory will also watch any sub-directories, but not files within those sub-directories. That means if I do this:
[code]

[2018-05-28 13:26] radovskyb commented on #40
Unless of course you are referring to ignoring specific events for a subdirectory/file based on paths or types, which in that case would be a different story for me to think about =]

[2018-06-01 19:12] svanschalkwyk opened #42 "How to golang subscribe to events"

[2018-07-27 01:35] cocodrino opened #44 "was AddRecursively removed from the source??? how ignore files and folders without permission???"
Hello, hope you're great...I'm trying to follow the sample but I've two problems here

1) seems than AddRecursively was removed and Add doesnt watch recursively by default, how can I watch files recursively right now?
2) if I add the root folder I get some errors based on permission, would be possible skip those files than generates me errors???

thank you so much

[2018-07-27 01:41] cocodrino commented on #44
ok my fault...I was using an old version of the package, after update I get the AddRecursively :dagger:

but I keep my second question: How could I ignore those files that are not possible watch and don't break my code??? thank you!!!

[2018-07-27 19:12] ChaosCA opened #45 "Path is empty"
![image](https://user-images.githubusercontent.com/5280764/43342042-a1921b96-919e-11e8-96a2-b3d3942fd42d.png)

Interestingly the Path is empty so I can't be sure of the absolute path of the file.

[2018-07-27 19:21] ChaosCA commented on #45
Ah it's from here: https://github.com/radovskyb/watcher/blob/master/watcher.go#L396

I was attempting to trigger a creation event for files that already exist in the dir on startup but this breaks my usecase.
[code]

[2018-07-29 00:24] ChaosCA opened #46 "Create event triggers before file move or copy is complete"
Apologies if it's a stupid question. My question is regarding this line in your code: https://github.com/radovskyb/watcher/blob/master/watcher.go#L197

Will this return files which are currently being copied? I work with very large files and I don't want this to fire off events before the file is actually done being created yet.
Thank you!

[2018-07-29 00:48] ChaosCA commented on #46
After a bit of testing that does seem to be what it does. This is sort of a critical issue as it will trigger create events before the file is ready.

This seems like it might be a simple fix from what I see here: https://github.com/radovskyb/watcher/blob/master/watcher.go#L546

You could check if the oldMod time matches the newModTime to know if the file is not being written to anymore. When it's

[2018-07-30 14:04] #46 closed

[2018-07-30 14:07] ChaosCA commented on #45
Workaround for now in case anyone finds this:
		for file_path, f := range w.WatchedFiles() {
			w.Event <- watcher.Event{Op: watcher.Create, Path: file_path, FileInfo: f}
		}

[2018-10-11 15:03] hsluoyz opened #47 "Suggestion: the basic example confuses beginners easily"
I spent 20 minutes to figure out why the basic example doesn't work when I write to a file. Then I found these lines:

https://github.com/radovskyb/watcher/blob/0d9d32686dbf6395752c9b209398a59e302a7f1e/example/basics/main.go#L14-L21

So only one event per second is allowed, and only renaming and moving are shown.

This will easily make beginners confused, because I suppose the basic example should

[2018-10-24 21:08] Le-G opened #48 "Filewatcher hangs on error"
When encountering an error (in my case an ErrWatchedFileDeleted), the filewatcher seems to stop (even though it's not Closed, so I cannot restart it) and I'm not receiving any more events.

Is this a bug or am I not handling errors properly ?

My code looks very much like the examples provided, and I encounter this error because a temp file is quickly added and removed from the fs (and I just want

[2018-10-26 09:11] amoffat opened #49 "WatchedFiles not goroutine safe"
Something I noticed while looking through the code

https://github.com/radovskyb/watcher/blob/master/watcher.go#L351-L356

There's a lock around accessing the *field* `.files`, but the map itself is being returned, and it's not a `sync.Map`.  Any access to this returned map will not be goroutine safe.  The correct pattern here would be to copy the map under the lock, and return the copy, or use a

[2018-10-27 23:30] radovskyb commented on #44
Hi @cocodrino,

It may have appeared to be missing because it's actually `AddRecursive` and not `AddRecursively`.

There is also the method `Ignore` if you'd like to check that out.

[2018-10-27 23:30] #44 closed

[2018-10-27 23:32] #45 closed

[2018-10-27 23:33] #34 closed

[2018-10-27 23:35] radovskyb commented on #47
Hi @hsluoyz,

Thanks for your comments :)

How would you recommend that I reword the comment `Only notify rename and move events.` and the `SetMaxEvents` comments in the example to make it more clear?

[2018-10-27 23:36] radovskyb commented on #42
Hi @svanschalkwyk,

I'm not quite sure what this is asking so I'm going to close this issue for now. Feel free to open another issue if you still have any questions :)

[2018-10-27 23:36] #42 closed

[2018-10-28 01:15] hsluoyz commented on #47
I think you can just comment them by default. Anyone needs this feature will uncomment it on his own. For example:

[code]

[2018-11-02 04:19] amw863 opened #50 "Help wanted"
Hi, radovskyb!

I am learning your code.  I cannot understand  these code :
[code]

https://github.com/radovskyb/watcher/blob/25a66c5e3b2606303dab04f005f1c276f0227f62/example/basics/main.go#L55-L59.

What I don't understand is why  ```w.Wait()``` can use more than once.  I searched by google, but no useful answer.  so, I hope get you help.

Thank  you very much!

[2018-11-04 13:13] Le-G commented on #50
If you look at the code, it tells you that "Wait blocks until the watcher is started."

In the snippet you shared, he created a goroutine that waits until the watcher is started, then sends two events (Create, and Remove).

It's pretty straightforward so I'm not sure what your question is and what you mean by "can use more than once"

[2018-11-06 13:11] amw863 commented on #50
I mean in the the two events why still call ```w.Wait()```.https://github.com/radovskyb/watcher/blob/25a66c5e3b/watcher.go#L397

In my opinion， this goroutine call ```w.Wait()``` for three times.

[2018-11-06 13:20] Akumzy opened #51 "How can I get only the events from the source not the parent director"
Sorry am very new to Go
based on the code below when an event occurred the first event will be "WRITE" from the parent folder followed by the event source.
Is there a way to identify the initial event
[code]

[2018-11-12 23:04] TuulaP opened #52 "Centos: SIGSEGV when change occurs with -cmd"
Thanks for implementing this tool. I've been trying to get watcher to follow up what is happening in a specific directory, and simply just print number of files left. I added the counter shell to the -cmd, but directly after first change happens in the directory, I get a SIGSEGV error.

go version go1.10.3 linux/amd64

The countzips.sh contains just `ls -1 *.zip | wc -l`

Is there something wrong

[2018-11-13 06:20] mia0x75 opened #53 "Add file or path to watch at runtime"
Is this project support add/remove watch items at run time? Can I find the sample code?

I have a website and back-end database to save the watch items, so my code will check the database table to add/remove watch items when data changed.

Thanks.

[2018-11-13 06:40] mia0x75 opened #54 "Add a new func to return w.names"
Also, is it possible to add a new item to Event, like Source, so we can know which watch item in names related to the event.

[2018-11-13 09:14] Akumzy commented on #53
I believe `Add` does that??
[code]

[2018-11-14 01:54] mia0x75 commented on #53
Thanks @Akumzy

[code]

Does this simple code work?

[2018-11-19 21:57] Le-G commented on #48
Hi @radovskyb , thanks for your reply.

This is the code that instantiates and starts the filewatcher

[code]

And this is the handleEvents func

[code]

As you can see, when a new directory is created I automatically want to ignore some kind of files which doesn't seem to work. They still end up being detected. I have no control over these files deletion and when they are deleted right after bein

[2018-11-20 08:03] radovskyb commented on #48
Hey @Le-G,

It's a bit hard to replicate without a full working example and how to trigger the error you're receiving here, but I'll try and see if I can help anyway :)

It seems that the problem may lay elsewhere in your code. I'm not sure what `waitForFileToFinishGrowing` is doing, however I've created a working example from your code (With a couple of comment changes to simplify a couple of thi

[2018-11-21 21:08] Le-G commented on #48
Hi @radovskyb ,

`waitForFileToFinishGrowing` doesn't do much and doesn't interfere with the problem I'm referring to (it just stats the file until its size stops changing).

I've copy/pasted your code and was able to reproduce my error.
I only changed the `time.Second` interval to `100*time.Millisecond` (I initially increased that to a second because it makes it less likely to crash so decreasing

[2018-11-22 13:58] BITRU opened #55 "ignoreHidden not working on windows"
Ignor hiden files not working on windows.
I belive strings.HasPrefix(info.Name(), ".") work on linux, but not on windows.
On windows system app get stok for example on c:\System Volume Information
How to avoid this problem?

2018/11/22 17:14:23 error: (EXTRA *os.PathError=open \\......\d$\System Volume Information: Access is denied.)

[2018-12-09 18:14] t14 opened #56 "restarting web server causes watcher to break"
Hi

I am trying to build and restart a webserver on every file change using the command `go run basic-page.go`
It seems to work the first time I make a file change but then watcher hangs after this and it does not build and restart the webserver on any other changes.
This seems to only happen when i use this particular command `go run basic-page.go`
Any ideas why the watcher cannot run this comman

[2018-12-10 23:02] radovskyb commented on #56
Hi @t14,

The problem here is not actually with Watcher, but how you are handling Go processes. For example, you are not killing the server in between events. Modifying your code for a unix based system, you will probably have to use something like the following (See comments below).

[code]

[2018-12-10 23:04] radovskyb commented on #55
Hi @BITRU,

Are you sure that this is not a permissions issue?

Can you please paste your code so I can try to reproduce this? Thanks :)

[2018-12-10 23:05] radovskyb commented on #53
Closing unless any other issue here :) Using `Add` or `AddRecursive` correctly at runtime should work.

[2018-12-10 23:05] #53 closed

[2018-12-10 23:08] radovskyb commented on #48
Hi @Le-G,

I have actually been able to successfully reproduce the issue. I'm not sure off the top of my head what the issue is, but when I get some time I will try to look into it. Please let me know if you have any insights as well.

If you are able to write a unit test that can reproduce this issue, it will be much easier for me to fix as the problem is that the error is intermittent for me, bu

[2018-12-10 23:08] #25 closed

[2018-12-10 23:10] radovskyb commented on #36
Closing. Please create a new issue if this is still a problem for you :)

[2018-12-10 23:10] #36 closed

[2018-12-10 23:12] radovskyb commented on #50
Hi @amw863,

You are correct that `w.Wait()` is called unnecessarily in the basic example as it will be called before `TriggerEvent` anyway :)

However, it's still in the example as a demonstration on how to wait for the watcher to be started before doing something else (which in this case is something that is already internally protected by `w.Wait()`)

[2018-12-10 23:15] radovskyb commented on #51
Hey @Akumzy,

At this stage there isn't any way to identify this. I have a feeling that it wouldn't be so straight forward to implement, but if you have any suggestions, feel free to let me know!

Closing this issue for now, but feel free to re-open it if you need!

[2018-12-10 23:15] #51 closed

[2018-12-10 23:31] radovskyb commented on #52
I've updated watcher's command in commit 428d3583d221309651c70da500e00d80e578d0a7 where you would now get a message like the following instead of a panic.

`2018/12/11 10:31:00 fork/exec ./countzips.sh: exec format error`.

[2018-12-11 09:41] Akumzy commented on #51
Yes I did found a solution to it,
Since the WRITE event is coming from a directory and WRITE is mainly meant for files not directories

So I just check if the event name is WRITE and event source is equals to directory
Then ignore
https://github.com/Akuma/file-watcher

[2018-12-12 00:41] #50 closed

[2018-12-12 00:42] #52 closed

[2018-12-12 00:47] radovskyb commented on #47
Hey @hsluoyz,

I've updated the basic example with your suggestions in commit d0ce736877937f3c7767434cf39e44d42253e522.

Thanks for the feedback!

[2018-12-12 00:47] #47 closed

[2018-12-12 00:52] radovskyb commented on #51
Oh nice one. Didn't realize that's what you meant but that's good :)

[2018-12-12 02:03] radovskyb commented on #32
Hi @adragoset,

I have finally added some filter file hook functionality in commit cfaa0d64db472a0060a214ab9f115230841659cc.

Feel free to check it out as it now comes with a builtin RegexFilterHook function.

[2018-12-12 02:09] #32 closed

[2018-12-12 02:15] radovskyb commented on #54
Hi @mia0x75,

There would probably be a fair bit of refactoring involved in this one. Can you please let me know what your use case would be if this was ever implemented? :)

Thanks

[2018-12-12 02:43] #56 closed

[2018-12-12 06:17] radovskyb commented on #33
Hi @sprt,

I've added this functionality in commit d6c8efa547bea3df75ff74082ba87c843298e6d9.

Let me know if there are any problems :)

[2018-12-12 13:03] t14 commented on #56
just saying Thanks for your help and also to confirm you suggestion works

[2018-12-13 00:03] radovskyb commented on #56
Great to hear :)

[2018-12-13 03:39] radovskyb commented on #55
Hey again @BITRU,

This issue should now be fixed with commit 3818ec23ec59ea15084fe26bfb114b3bb58aa132.

Please try it out and let me know how you go, thanks!

[2019-01-02 04:22] kassianh opened #57 "Max_Path error in isHidden_windows.go"
isHidden_windows.go was throwing the error: "The system cannot find the path specified."

I discovered this was due to `syscall.UTF16PtrFromString(pointer)` not working with file paths longer than 260 characters.*

I fixed it by changing `syscall.UTF16PtrFromString(path)` to `syscall.UTF16PtrFromString(fixLongPath(path))`, and adding an extra file containing this:
https://golang.org/src/os/path_wi

[2019-01-04 10:52] F21 opened #58 "Support debouncing watch events"
When I modify multiple files in one shot (such as using "save all" in an IDE), multiple events are fired and the command is executed for each event. It would be nice if there is the ability to debounce the events so that if multiple files are modified together, the command is only executed once

[2019-01-04 11:00] F21 opened #59 "Support ability to terminate previous invocation of command on new event"
It would be nice if there is an option to terminate the previous invocation of the command when the command is still executing and a file changes. This would be extremely useful when the command is a task that takes a while to complete and we do not wish to wait for it to finish and want to invoke the command immediate again.

[2019-01-05 16:40] sevein opened #60 "Release tags not including the leading `v` are unreachable by Go modules"
Hi @radovskyb. Thanks for making this project available to the public!

I've found one minor issue when importing `github.com/radovskyb/watcher` as a Go module. Go can't find releases tagged in this repo when the tag name does not include the leading `v` character. Namely: tags `1.0.3`, `1.0.4` and `1.0.5` are missing the leading `v` character. Go believes that `v1.0.2` is the latest release since

[2019-01-06 00:43] radovskyb commented on #60
Hey @sevein,

Have you tried just calling the command like so:

go get github.com/radovskyb/watcher@1.0.5 (Without the `v`)?

It should work :)

[2019-01-06 03:57] sevein commented on #60
Thanks @radovskyb. I tried that but then vgo doesn't understand it as a semantic version which is probably going to impact the [behaviour of `go get  -u`](https://github.com/golang/go/wiki/Modules#how-to-upgrade-and-downgrade-dependencies) later on as Go believes I'm just asking to import a specific commit instead of an actual release. I think that your example would be the equivalent of the follo

[2019-01-06 05:50] radovskyb commented on #60
Thanks @sevein,

I actually didn't know that :P Hadn't read the `go mod` notes yet.

I'll update the latest tag to v1.0.5 for you! :D

[2019-01-06 17:00] sevein commented on #60
Thank you, it works!

[2019-01-06 17:00] #60 closed

[2019-01-10 11:35] ysmood commented on #59
@F21 Maybe you should give this tool a try: https://github.com/ysmood/gokit

[2019-01-14 13:39] Le-G commented on #48
Hi,

Sorry I missed your reply !
Glad you could reproduce it as it's a bit tough to explain.

It seems like it's gonna be a pain to write a unit test to reproduce it as the issue is fairly random, but instead I'll try to have a look at the code to see if I can find any more info on where exactly it stops and on how it can be fixed.

Cheers !

[2019-01-14 21:08] Le-G commented on #48
Hurray ! Found it !

In the retrieveFileList function, when you catch an error coming from retrieveFileList, you call the RemoveRecursive function on the parent directory (the one you called retrieveFileList on) instead of the path returned in the error (see example below). This causes the directory to be removed from the watch list.
As in my case it was the parent directory, the filewatcher was s

[2019-01-15 00:16] radovskyb commented on #48
Hi @Le-G,

I'll have a look at your merge request soon :)

Good job finding a fix there.

I had a bit of a deeper look and I believe I know what is actually causing the initial error. The `listRecursive` function uses `filepath.Walk` and underneath `Walk`'s code, it reads each directory's file names and then tries to call `lstat` for each file, however if in between retrieving those names, the fil

[2019-01-15 07:46] #48 closed

[2019-01-18 18:12] fvosberg opened #63 "startcmd ignores keepalive"
Hi,

first of all, thanks for implementing a watcher, which is as small and concise, as I want it to be!!

I've found a little bug in my humble opinion, though:

If you start the watcher with keepalive flag and startcmd flag, and the command returns a non zero.

```watcher -cmd="false" --keepalive --startcmd```

[2019-01-22 13:33] ysmood commented on #59
@abdullah2993 at least you need  to modify your script like this:

[code]

The minus before the dollar sign is the point.

[2019-01-22 17:35] abdullah2993 commented on #59
@ysmood not really...it will work just fine as it is, this will send a `SIGTERM` to the processes but if you want to send `SIGKILL` then you can modify it to `kill -9 $(cat /.pid)`

[2019-01-22 18:08] abdullah2993 commented on #59
@ysmood you are right.

[2019-01-24 13:40] tomek-cz opened #66 "Need to move a file but only if it's closed"
I have a scenario, where I want to move a large file (4GB) to an S3 bucket once it's written to a watched directory on the local disk. The process of writing a file to the local directory is time-consuming.

I am waiting for the Create event and then I run 'move to s3 bucket' process, which will, unfortunately, only upload a portion of the file (as the rest of the file is still being written to th

[2019-01-24 16:41] Akumzy opened #67 "Watcher Stopped watching after updating the package"
Thanks you for the this Package.

I noticed the `w.AddFilterHook(watcher.RegexFilterHook(r, false))` method which was not available in my previous version so I just update the package since then the watcher is not working anymore

[2019-01-25 08:08] Akumzy commented on #67
The `github.com/radovskyb/watcher v1.0.2` is not CPU friendly someone me help please...

[2019-01-26 04:46] radovskyb commented on #67
Hi @Akumzy,

Can you show an example of what is not working for you in a newer version? Like v1.0.5 or v1.0.6.

Also in general, polling at a rate such as `100ms` will not be so CPU friendly unfortunately. There are other options such as `fsnotify` which doesn't use polling if that's an issue for you :)

[2019-01-26 04:48] #55 closed

[2019-01-26 07:47] Akumzy commented on #67
@Akumzy thanks for responding but I ran the exact readme demo code
but my code looks like this below, as of versions I can't really but the version  has `w.AddFilterHook(watcher.RegexFilterHook(r, false))` support I just ran `go get -u  github.com/radovskyb/watcher/..` to update

But the working version am using is v`1.0.2 I know that because am using `go mod`

Am using Ubuntu 18.10
[code]

[2019-01-26 08:41] Akumzy commented on #67
I just noticed after commenting out the `AddFilterHook`
it started watching again
[code]
Am very sorry for the false alarm
this is the right code
[code]

[2019-01-26 08:42] #67 closed

[2019-01-26 11:19] radovskyb commented on #67
No problem :)

[2019-01-27 04:55] #63 closed

[2019-02-01 02:38] gabrielcalderon commented on #66
I'm running into the same issue!

[2019-02-01 09:46] tomek-cz commented on #66
I've worked this around by:
- watch for CREATE event
- check the mtime  of the file in a loop, compare with now()
(mtime changes whenever the file is written to)
- if the difference is bigger than 30 seconds then it means the file is not being written to anymore so I can initiate the move.

Works well so far, can move large files with no issues.

[2019-02-05 01:04] gabrielcalderon opened #69 "Events for existing files?"
Is there a way with watcher to get events for files that already exist in the directory?

[2019-02-24 18:16] Akumzy opened #71 "Nodejs implementation"
Hi @radovskyb , I created your package a binding for Nodejs [fs-watcher](https://github.com/Akumzy/fs-watcher).

I'll be very happy to get a feedback from you, because your package encouraged me more to learn Go and I want to share it with my fellow JavaScript developer whom might not want learn new language.

[2019-03-31 12:20] jpatters opened #72 "Race condition or deadlock in Close()"
I am having a pretty terrible time trying to debug this. Things seem to get hung up in multiple places inside of `Close()`.
There are times when it fails to obtain a lock and just gets stuck there forever. And there are times when it can't seem to send on `w.close`. Any help would be appreciated.

I've added some logging to `Close()` like so.
[code]

In some instances, the last message I get is `=

[2019-03-31 14:12] jpatters commented on #72
This seems to happen when a file event comes in after `Close()` has been called

[2019-03-31 19:08] jpatters commented on #72
There is at least one deadlock going on here. When `Close()` is called, if events are still being published, `Close()` is trying to obtain a lock (https://github.com/radovskyb/watcher/blob/master/watcher.go#L702) but an event as been published to `w.Event` (https://github.com/radovskyb/watcher/blob/master/watcher.go#L595) which means that it has the lock.
At the same time there is nothing reading

[2019-05-10 14:36] codenoid opened #73 "new file creation return a folder info"
1. i run watcher
2. i run command to create a new file, but watcher read it as `DIRECTORY`
3. i run point 2 command again (with same path) then watcher read it as `FILE`

how do i get File info (as `FILE` ) for new file (like point 2), thank you !

[2019-05-10 14:44] Akumzy commented on #73
The event struct contains all the information your need using `event.FileInfo` or
[code]
[code]

[2019-05-10 14:47] codenoid commented on #73
@Akumzy sir, you need to "edit" the file to get file information, if this is a first time you write a file, you just only get Folder info from `Event` value

[2019-05-10 14:48] codenoid commented on #73
[code]

[2019-05-10 15:12] Akumzy commented on #73
Yeah is true when an event occurs at first two different events are being emitted one from the parent directory while the second one will be the real event source

[2019-05-10 15:14] Akumzy commented on #73
So I used this to filter it out
[code]

[2019-05-10 15:17] codenoid commented on #73
@Akumzy so with that code, i need to edit the file right ? then the file information come ?

[2019-05-10 15:20] #71 closed

[2019-05-10 15:29] codenoid commented on #73
umm actually, i still need to "modify" the file first, then i got the file info, what i need is i get File info when in the first file creation

because currently you will get folder info in first file creation

[2019-05-14 11:31] Akumzy commented on #73
@codenoid
Create a demo

[2019-05-17 13:47] liamsorsby commented on #73
@Akumzy I've just been having a look into this library. I'm confused as to why the Create operation isn't being fired here instead of Write. If I touch or vim a file for the first time. It never fires a create event.

[2019-05-17 13:59] Akumzy commented on #73
@liamsorsby did you set `watcherInstance.SetMaxEvents(1)` to one?

[2019-05-17 14:00] Akumzy commented on #73
If so it will likely emit ` Write` event from the source direct directory.

[2019-05-17 14:06] Akumzy commented on #69
Yes
[code]

[2019-05-17 15:21] mandeepbrar opened #74 "AddFilterHook not working as intended"
I added a filter hook as follows

`
autogen_skipper := func(info os.FileInfo, fullPath string) error {
		if info.IsDir() && info.Name() == "autogen" {
			log.Error(ctx, "skipping autogen")
			return watcher.ErrSkip
		}
		log.Error(ctx, "not skipping ")
		return nil
}
....
w.AddFilterHook(autogen_skipper)
....
w.AddRecursive(folderToWatch);
`

This code skips autogen directory, however the files in

[2019-05-17 18:53] liamsorsby commented on #73
@Akumzy I’ve tried with and without. I’ve also tried on different OS’s as I’m aware of an issue on mac’s not working correctly with fsnotifier in node either. If I just listen on Create nothing gets logged ever.

[2019-05-18 05:09] gabrielcalderon commented on #69
I created my own solution since I couldn't get watcher to work.

[2019-05-18 05:09] #69 closed

[2019-06-17 12:01] aaronsuns opened #75 "missing import "regexp" in example"
missing import "regexp" in example

[2019-07-24 20:05] asafsemo opened #76 "Added support for symlink"
I update the code to support symlink files.
If the folder includes symlink it will follow and monitor the pointed file.

func (w *Watcher) list(name string) (map[string]os.FileInfo, error) {
	fileList := make(map[string]os.FileInfo)

	// Make sure name exists.
	stat, err := os.Stat(name)
	if err != nil {
		return nil, err
	}

	fileList[name] = stat

	// If it's not a directory, just return.
	if !s

[2019-07-31 17:32] tanema opened #77 "Checksum check to ensure the file has actually changed."
Hi! I was wondering if this was on the roadmap, or actively avoided? I am having issues where it seems like users may have other tools running that would touch timestamps and cause a burst in events [for reference](https://github.com/Shopify/themekit/issues/649). I figured the best way to mitigate this was by checking to make sure the contents actually changed.

We could keep track of checksums at

[2019-08-17 20:33] coreybutler opened #78 "Missing Event.OldPath"
The master branch (and therefore the godocs) contain [Event.OldPath](https://github.com/radovskyb/watcher/blob/master/watcher.go#L71), but the [tagged release (v1.0.6)](https://github.com/radovskyb/watcher/releases/tag/v1.0.6) does not.

I kept scratching my head when coming across these compilation errors:

![image](https://user-images.githubusercontent.com/770982/63217002-105bea80-c104-11e9-976f

[2019-08-17 21:23] Akumzy commented on #78
@coreybutler I don't think it has been merge to master branch

[2019-08-18 01:22] coreybutler commented on #78
@Akumzy It has been merged to master. See [this line](https://github.com/radovskyb/watcher/blob/master/watcher.go#L71).

[2019-08-18 01:28] radovskyb commented on #78
Hey @coreybutler. I've published release v1.0.7 :)

[2019-08-18 01:28] #78 closed, assigned to nobody

[2019-08-18 01:29] coreybutler commented on #78
Thanks @radovskyb!

[2019-09-09 10:06] Akumzy commented on #66
I solved mine like this
[code]

[2019-09-17 10:22] zdwork opened #81 "The delete directory process exits"
Don't want him to back out and help

[2019-09-17 10:29] Akumzy commented on #81
@zdwork sorry?

[2019-09-17 10:33] zdwork commented on #81
Is there any good way to solve it? I did it with a gorouting, as long as we don't let the main process exit

[2019-09-17 11:08] Akumzy commented on #81
Sorry I still don't understand what you're trying to say.

[2019-09-17 11:11] zdwork commented on #81
Don't let main exit.goroutine exec tail

[2019-09-17 12:17] zdwork commented on #81
How do you delete a file without letting it exit

[2019-09-17 14:22] Akumzy commented on #81
You can remove the directory from watcher before deleting it.

[2019-09-17 14:48] zdwork commented on #81
Excuse me, how do I do that

[2019-09-17 14:59] Akumzy commented on #81
[code]

[2019-09-17 15:05] zdwork commented on #81
Sorry, what I just said is wrong, we all delete it first

[2019-09-17 15:10] zdwork commented on #81
if name == err.(*os.PathError).Path {
  //w.Error <- ErrWatchedFileDeleted
  w.RemoveRecursive(name)
}

howdy  Is that ok？

[2019-09-21 06:18] zdwork opened #82 "Hello, may I use regular expressions to ignore files or directories"
Hello, may I use regular expressions to ignore files or directories

[2019-09-23 20:42] ericmdantas commented on #82
Hello, @zdwork.

Apparently, no, you can't use regular expressions as of now.

Right now the list of strings to be ignored are split and treated as literal strings - as you can see [here](https://github.com/radovskyb/watcher/blob/master/watcher.go#L416). And then the paths are also used are literal strings, as seen [here](https://github.com/radovskyb/watcher/blob/master/watcher.go#L416).

But I do

[2019-10-22 08:35] ykumar-rb commented on #72
Even I am facing same issue with my application. Application hangs and unable to process new event .I believe this should be handled inside watcher package .

[2019-10-22 15:09] shivakumargowda12 opened #86 "FileWatcher hangs when received an Event on a File which is deleted"
Hi,
I have uploaded a sample go code which contains logic to handle different File Watcher events.
Suppose, If I delete a File which is being watched already, the logic **hangs** while trying to Call **Remove(path)** function of watcher.go and **never returns**.

**Requirement:**
To dynamically add/remove files to FileWatcher object during File Creation or Deletion inside a specific folder.

I hav

[2019-10-22 15:10] shivakumargowda12 commented on #86
@radovskyb , any solution to this issue. (Version: 1.0.7)

[2019-12-30 17:10] Akumzy opened #92 "How to remove file from Ignored files?"
I just found out that there's no way to remove ignored file

[2020-01-02 09:38] echobool opened #93 "When a file changes, folder changes and file changes will be detected, which will be executed twice"
When a file changes, folder changes and file changes will be detected, which will be executed twice. How can the configuration only take effect once?

<img width="1031" alt="9BBECC52-6B3E-420C-8541-966D5ABB1BDE" src="https://user-images.githubusercontent.com/8441357/71660652-b5f7b980-2d86-11ea-8e8b-7d09b6d3d68f.png">
<img width="976" alt="16B5169B-B957-4997-80FA-E5157FC4CA85" src="https://user-ima

[2020-01-02 09:52] Akumzy commented on #93
I think it's working as it supposed to, you can use the snippet below to bypass that
[code]

[2020-01-02 12:49] echobool commented on #93
@Akumzy Hello, I use it like this: $watcher -cmd = ". / watcher. Sh configure Web" - interval = "2000ms" - ignore = ". / vendor,. / node Ou modules,. / configure Web"，How to use it on the command line?

[2020-01-02 12:56] Akumzy commented on #93
I am sorry but I don't know

[2020-01-10 21:01] tul commented on #72
It's not documented, but essentially in the current implementation it's not supported to call `Close()` from your event polling go routine, or in any way that causes your event handling routine to stop draining `w.Event`. I think the only safe way to do it without changing the code would be to run `Close()` in a go routine then have your event handler continue pulling events but as soon as you get

[2020-01-12 16:26] tul commented on #72
Regarding allowing `Close()` to be called from the polling go routine, I just looked at the code again now. There is a second issue which is that `retrieveFileList()` holds the mutex for the duration of the iteration, which will prevent `Close()` from being able to execute. So more work will be needed beyond what I outlined above.

[2020-02-27 16:54] jbryanmiller opened #97 "how to wait until a copy is complete"
when a file is copied into the watched location, the event fires immediately. I need to wait until the file is completely copied before calling another function from within the event firing. How might i do this? Is it possible?

[2020-02-28 16:40] bmiller2807 commented on #97
Just an update if it helps anyone else that encounter this issue. I the following code allows one to wait for a file copy to complete so that other operations may be performed on it afterwards:
`w := watcher.New()

	w.FilterOps(watcher.Create, watcher.Remove, watcher.Write)

	go func() {
		for {
			timer := time.NewTimer(5 * time.Second)

			select {
			case event := <-w.Event:
				if event.Op ==

[2020-02-28 16:45] jbryanmiller commented on #97
Just an update if it helps anyone else that encounter this issue. I the following code allows one to wait for a file copy to complete so that other operations may be performed on it afterwards:
`w := watcher.New()

w.FilterOps(watcher.Create, watcher.Remove, watcher.Write)

go func() {
	for {
		timer := time.NewTimer(5 * time.Second)

		select {
		case event := <-w.Event:
			if event.Op == watcher

[2020-04-15 20:08] technoweenie commented on #97
One other option is writing to another directory on the same hard drive volume outside of the watcher, and then call `os.Rename()` to move it to where it should go. Renames should be atomic and fast, regardless of the size of the file.

[2020-05-28 17:33] pellared opened #102 "Recursive watch for file pattern"
Hello,

I wanted to use the watcher to run `make` when a go file is modified.
Here is how I thought it would/should work:
[code]
However it works only for current directory. It does not watch for changes that are in packages. Sample file structure:
[code]

Test:
[code]
Notice that `c/g.go` is not being watched.

[2020-06-18 01:36] jaweno opened #103 "When the close is called, the start goroutine can not be released"
// Look for events.
		go func() {
			w.pollEvents(fileList, evt, cancel)
			done <- struct{}{}
		}()

line 581：
add <-done

[2020-08-10 07:38] deividaspetraitis commented on #102
One possible approach could be forming a list of `*.go` files to be fed to watcher, like following:

[code]

However it has one downside however, to include newly created files you will need restart this process, which can be automated as well I believe.

[2020-09-08 07:34] aditi-plivo opened #105 "SetMaxEvents limits the event creation for files"
@radovskyb As a solution for High CPU usage for polling large directories to monitor Create/Move events
`watch.FilterOps(watcher.Create, watcher.Move)`

We tried the following things:
- increasing the polling duration (#24) (as we could avoid real time events notifications)

- reducing the event per watch cycle by setting the max events
`w.SetMaxEvents(5000)`

But SetMaxEvents is not working as ex

[2020-09-24 07:09] FogDong commented on #73
Met the same problem:  I want to get the `FILE event` but not `DIRECTORY event`.

Did anyone solve it? /cc @Akumzy

[2020-09-25 10:42] FogDong opened #106 "Received multiple events even if set the max event"
Received multiple events like:

[code]

And my code is like:

[code]

ping /cc @radovskyb

[2020-09-29 02:42] #106 closed, assigned to nobody

[2020-10-01 19:44] Akumzy commented on #73
@FogDong if you're not using the CLI  you can use this to filter that out

[code]
but for CLI you might want to fork the repo and add this since the author hasn't been active throughout this year
I hope he is fine

[2020-10-14 14:23] algoflows opened #107 "followed install instructions, watcher command not recognized in terminal?"
I installed watcher, but running "watcher" command does nothing in the terminal except produce an error, does this tool still work? Is there something else I should do in order to get this working?

[2020-11-13 03:27] HurSungYun commented on #107
@osintops

I have struggled same issue :)

maybe you forget three DOTs at the end of `go get` command

[code]

I'm not familiar with golang as well, so I don't know what those three dots mean but it worked.

[2020-12-22 18:29] Asgoret opened #108 "Need help with RegexFilterHook"
@radovskyb Hi! Can you please help with code? I'm not very familiar with golang so catch some troubles. I tried to watch only files that are YAML format, so wrote this code, but it doesn't work. Where I am wrong?
[code]

[2020-12-23 13:47] Asgoret commented on #108
Fixed. Forget about add
[code]

[2020-12-23 13:47] #108 closed, assigned to nobody

[2021-01-11 22:00] ogbofjnr opened #109 "Flood of Remove Create events with no reason"
I've got strange behavior, out of the blue the watcher starts to produce events for almost every file in folders, REMOVE and then CREATE for the same file.
At the same time, inotify doesn't show any deletion or creations for the same folders.
The only thing is that the folders are mounted for docker-compose.
Any ideas what could it be?

[2021-03-20 18:38] jonny-rimek commented on #102
I'm using the following cmd

[code]

It will watch all go files in all subdirectories from your current dir

[2021-09-30 16:03] ramisedhom opened #113 "go get command deprecated starting go v1.17"
Steps:
1. Installed Go v1.17.1.
2. Trying to install using documented command:
`go get -u github.com/radovskyb/watcher/...`
3. Got error:
[code]

[2021-10-15 13:23] Narven opened #114 "Question: Multiple file changes report has one event"
This is not an Issue and I apoligise for it. But I wanted to ask if I'm monitoring recursively some folders, and there is a change that affects 20 files, like a multiple rename on files or multiple rename on some word inside multiple files, is it possible for this to be triggered has 1 event, instead of 20? with this package.

thanks.

PS: I know there is the possibility of setting some timer? is

[2021-12-18 19:12] WoisWoi commented on #113
I got the same problem, did you fix it ?

[2021-12-22 00:50] #57 closed

[2022-07-06 02:45] apakce opened #118 "When the files in the folder are overwritten, the folder type is returned"
I found in my tests that when the files in the folder are overwritten, the folder type is returned, is this expected?

[2022-07-06 02:46] apakce commented on #118
I should expect this new file to be returned

[2022-07-06 03:02] apakce commented on #118
I tested again, on Windows, the event will be parsed as File Type, but on macOS it is Folder Type.

[2022-08-30 14:33] ekristen opened #119 "When Not Using Recursive, File Removal Triggers Error"
I'm not sure if this is an underlying fsevents issue/bug or what, but if using recursive paths, when a file is removed an event is triggered, when using a specific path to monitor, if the file is removed watcher throws an error instead of a removal event. The error also doesn't contain any information about the file that was deleted.

[2022-09-15 11:59] rizwankh commented on #105
Facing the same issue. Even when I set the polling to 1 ms, it still misses some files, even though I have not set any SetMaxEvents at all.

[2022-09-26 22:17] cheddarwhizzy commented on #113
This worked for me (1.19)
[code]

[2022-11-09 15:42] sgohl commented on #114
I have the same problem - the polling interval does not address this.

When 200 changes occur, watcher seems to chain it and executes the specified command 200 times then.
That's unfortunate.

We would need an option to make the watcher wait a certain amount of time before executing the command if nothing changed in that period of time, and only then it should execute the command (once)